---
layout: pw40-project

permalink: /:path/

project_title: {{ title | to_yaml | regex_replace("\n$|\n\.\.\.\n$", "") }}
category: {{ category | regex_replace("\n$|\n\.\.\.\n$", "") }}
presenter_location: {{ presenter_location | regex_replace("\n$|\n\.\.\.\n$", "") }}

key_investigators:
{% for investigator in investigators %}
- name: {{ investigator.name | to_yaml | regex_replace("\n$|\n\.\.\.\n$", "") }}
  affiliation: {{ investigator.affiliation | to_yaml | regex_replace("\n$|\n\.\.\.\n$", "") }}
{%- if investigator.country %}
  country: {{ investigator.country | to_yaml | regex_replace("\n$|\n\.\.\.\n$", "") }}
{%- endif %}
{% endfor %}
---

# Project Description

<!-- Add a short paragraph describing the project. -->

{{ bulk }}
