name: Apply ready label on draft label removal
on:
  issues:
    types: [ unlabeled ]

permissions:
  contents: read

jobs:
  apply-ready:
    if: github.event.label.name == 'draft'
    runs-on: ubuntu-latest
    permissions:
      issues: write
    
    steps:
      - name: Add "ready" label
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.issues.addLabels({
              issue_number: context.payload.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              labels: ["ready"]
            })