name: Issue labeler
on:
  issues:
    types: [ opened ]

permissions:
  contents: read

jobs:
  label-component:
    if: contains(github.event.issue.labels.*.name, 'project')
    runs-on: ubuntu-latest

    permissions:
      # required for all workflows
      issues: write


    steps:
      - uses: actions/checkout@v3

      - name: Parse issue form
        uses: stefanbuck/github-issue-parser@v3
        id: issue-parser
        with:
          template-path: .github/ISSUE_TEMPLATE/project.yml

      - name: Set labels based on draft status field
        uses: redhat-plumbers-in-action/advanced-issue-labeler@v2
        with:
          issue-form: ${{ steps.issue-parser.outputs.jsonString }}
          section: draft-status
          block-list: |
            None
            Other
          token: ${{ secrets.GITHUB_TOKEN }}